# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

stark3d/stark3d.vcxproj.user
stark3d/Build/
stark3d/Library/
stark3d/stark3d.opensdf
stark3d/stark3d.sdf
lib/freeglut-2.8.1/lib/x86/freeglut.exp
lib/freeglut-2.8.1/lib/x86/freeglut.exp
*.pdb
*.suo
*.pdb
*.gz
Build/
breakout/Library
stark3d/.vs/stark3d/v15
msvs2017/Debug
msvs2017/.vs
msvs2017
